<li class="nav-item "> <a href="~/HomeSKL" class="nav-link active" id="mnuDashboardSMK"> <i class="nav-icon fas fa-tachometer-alt"></i> <p> Dashboard </p> </a> </li>
<li class="nav-item"> <a href="~/ProfileSKL" class="nav-link" id="mnuProfileSKL"> <i class="nav-icon fas fa-university"></i> <p> Profile SMK </p> </a> </li>
<li class="nav-item"> <a href="~/ProfileKKSKL" class="nav-link" id="mnuProfileKKSKL"> <i class="nav-icon fas fa-university"></i> <p> Profile Kompetensi Keahlian </p> </a> </li>
<li class="nav-item"> <hr class="nav-link " style="border-color: white; " /></li>
<li class="nav-item"> <a href="~/LSPSKL" class="nav-link" id="mnuLSPSKL"> <i class="nav-icon fab fa-leanpub"></i> <p> LSP SMK </p> </a> </li>
<li class="nav-item"> <a href="~/KKTerlisensiSKL" class="nav-link" id="mnuKKTerlisensiSKL"> <i class="nav-icon fas fa-graduation-cap"></i> <p> KK Terlisensi </p> </a> </li>
<li class="nav-item"> <a href="~/PenerimaSertifikatSKL" class="nav-link" id="mnuPSertifikatSKL"> <i class="nav-icon far fa-address-card"></i> <p> Penerimaan Sertifikat </p> </a> </li>
<li class="nav-item"> <a href="~/JejaringSKL" class="nav-link" id="mnuJejaringLSPSKL"> <i class="nav-icon fas fa-laptop"></i> <p> Jejaring LSP </p> </a> </li>
<li class="nav-header">ADMIN</li>
<li class="nav-item"> <a href="~/UbahPassSKL" class="nav-link" id="mnuUbahPassSKL"> <i class="nav-icon fas fa-laptop"></i> <p> Ubah Password </p> </a> </li>
