<li class="nav-item "> <a href="~/Home" class="nav-link active" id="mnuDashboard"> <i class="nav-icon fas fa-tachometer-alt"></i> <p> Dashboard </p> </a> </li>
<li class="nav-item"> <a href="~/SMK" class="nav-link " id="mnuSMK"> <i class="nav-icon fas fa-university"></i> <p> SMK </p> </a> </li>
<li class="nav-item"> <a href="~/SMKKK" class="nav-link " id="mnuSMKKK"> <i class="nav-icon fas fa-university"></i> <p>Kompetensi Keahlian SMK</p> </a> </li>
<li class="nav-item"> <hr class="nav-link " style="border-color: white; " /></li>
<li class="nav-item"> <a href="~/LSP" class="nav-link" id="mnuLSPSMK"> <i class="nav-icon fab fa-leanpub"></i> <p> LSP SMK </p> </a> </li>
<li class="nav-item"> <a href="~/KKTerlisensi" class="nav-link" id="mnuKKTerlisensi"> <i class="nav-icon fas fa-graduation-cap"></i> <p> KK Terlisensi </p> </a> </li>
<li class="nav-item"> <a href="~/PenerimaSertifikat" class="nav-link" id="mnuPSertifikat"> <i class="nav-icon far fa-address-card"></i> <p> Penerimaan Sertifikat </p> </a> </li>
<li class="nav-item"> <a href="~/Jejaring" class="nav-link" id="mnuJejaringLSP"> <i class="nav-icon fas fa-laptop"></i> <p> Jejaring LSP </p> </a> </li>
<li class="nav-item"> <hr class="nav-link " style="border-color: white; " /></li>
<li class="nav-item"> <a href="~/KKeahlian" class="nav-link" id="mnuKompetensiKeahlian"> <i class="nav-icon fas fa-theater-masks"></i> <p> Kompetensi Keahlian </p> </a> </li>
<li class="nav-item"> <a href="~/TahunPelajaran" class="nav-link" id="mnuTahunPelajaran"> <i class="nav-icon fas fa-table"></i> <p> Tahun Pelajaran </p> </a> </li>
<li class="nav-header">ADMIN</li>
<li class="nav-item"> <a href="~/ADProvinsi" class="nav-link" id="mnuAdminProvinsi"> <i class="nav-icon fa fa-user-tie"></i> <p> Admin Provinsi </p> </a> </li>
<li class="nav-item"> <a href="~/ADSekolah" class="nav-link" id="mnuAdminSekolah"> <i class="nav-icon fa fa-users"></i> <p> Admin Sekolah </p> </a> </li>

